@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat-300,
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.dark .markdown h1, .dark .markdown h2, .dark .markdown h3 {
  color: white;
}
.markdown h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #222;
}

.markdown h2 {
  font-size: 1.75em;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

.markdown h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #444;
}

.markdown p {
  font-size: 1em;
  margin: 0.5rem 0;
}

.markdown code {
  font-family: 'Courier New', Courier, monospace;
  background: #f9f9f9;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.9em;
}

.markdown pre {
  background: #f4f4f4;
  padding: 1rem;
  border-radius: 6px;
  overflow-x: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
}

.dark .markdown code {
  font-family: 'Courier New', Courier, monospace;
  background: #1e1e1e;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.9em;
}

.dark .markdown pre {
  background: #1e1e1e;
  padding: 1rem;
  border-radius: 6px;
  overflow-x: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
}

.markdown ul {
  padding-left: 1.5rem;
  list-style-type: disc;
  margin: 0.5rem 0;
}

.markdown ol {
  padding-left: 1.5rem;
  list-style-type: decimal;
  margin: 0.5rem 0;
}

.markdown li {
  margin: 0.3rem 0;
}

.markdown a {
  color: #007acc;
  text-decoration: none;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1rem;
  color: #555;
  margin: 1rem 0;
  font-style: italic;
}
.dark .markdown blockquote {
    border-left: 4px solid #1e1e1e;
    padding-left: 1rem;
    color: #555;
    margin: 1rem 0;
    font-style: italic;
}

.markdown hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 1rem 0;
}


.clickableCard:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}